<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Form</title>
</head>
<body>

    <h1>Student Information Form</h1>

    <form method="POST">
        {% csrf_token %}

        <label>Student Name:</label>
        <input type="text" name="student_name">

        <br><br>

        <label>Program:</label>
        <input type="text" name="program">

        <br><br>

        <label>Year Level:</label>
        <input type="text" name="year_level">

        <br><br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>